@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* GLOBAL -------------------------------------------------------------- */

* {
  margin: 0px;
  padding: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* NAVBAR -------------------------------------------------------------- */

.navbar {
  background-color: #de369dff;
}

.nav-link {
  font-size: 18px;
  color: #ffffff;
}

.navbar-dark .navbar-toggler {
  border: 1px solid #ffffff;
}

/* FOOTER ----------------------------------------------------------------- */
#footer {
  background-color: #de369dff;
}

.footer-p-1 {
  margin-bottom: 0px;
  padding-top: 10px;
  color: #ffffff;
}

.footer-p-2 {
  margin-bottom: 0px;
  color: #ffffff;
}

.footer-p-3 {
  margin-bottom: 0px;
  padding-bottom: 10px;
  color: #ffffff;
}

.fa-facebook-square:before {
  color: #ffffff;
  font-size: 55px;
  padding-right: 10px;
}

.fa-twitter-square:before {
  color: #ffffff;
  font-size: 55px;
  padding-right: 10px;
}

.fa-instagram-square:before {
  color: #ffffff;
  font-size: 55px;
  padding-right: 10px;
}

.fa-linkedin:before {
  color: #ffffff;
  font-size: 55px;
  padding-right: 10px;
}

/* ABOUT US --------------------------------------------------------------- */

.about-h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.about-h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.cleaner-1-image {
  width: 100%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* CLEANING SERVICES --------------------------------------------------------------- */

.card {
  margin: 10px;
  border-radius: 5px;
}

.specialist-services-h2 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 25px;
}

#cleaning-services-section {
  margin-right: 10px;
  margin-left: 10px;
}

h4 i {
  padding-left: 15px;
  font-size: 22px;
}

.list-group-item {
  color: black;
}

.contact-us-link {
  padding-top: 20px;
}

/* OUR PROMISE --------------------------------------------------------------- */

.our-promise-h1 {
  margin-top: 20px;
}

.cleaner-image {
  border-radius: 50%;
}

.fa-shield-alt:before {
  padding-right: 10px;
  font-size: 24px;
}

.fa-phone-square-alt:before {
  padding-right: 10px;
  font-size: 24px;
}

.fa-smile-beam:before {
  padding-right: 10px;
  font-size: 24px;
}

.fa-gem:before {
  padding-left: 10px;
  font-size: 24px;
}

.fa-question-circle:before {
  padding-left: 10px;
  font-size: 24px;
}

.fa-credit-card:before {
  padding-left: 10px;
  font-size: 24px;
}

.security-h3 {
  padding-top: 40px;
}

.quality-guarantee-h3 {
  padding-top: 40px;
  padding-small-vertical: 10px;
}