@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* GLOBAL -------------------------------------------------------------- */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

/* NAVBAR -------------------------------------------------------------- */

.navbar {
  background-color: #de369d;
}

.nav-link {
  font-size: 18px;
  color: #ffffff;
}

.navbar-dark .navbar-toggler {
  border: 1px solid #ffffff;
}

/* FOOTER ----------------------------------------------------------------- */
#footer {
  background-color: #de369d;
}

.footer {
  margin-top: 10px;
}

.footer-p-1 {
  margin-bottom: 0px;
  padding-top: 10px;
  color: #ffffff;
}

.footer-p-2 {
  margin-bottom: 0px;
  color: #ffffff;
}

.footer-p-3 {
  margin-bottom: 0px;
  padding-bottom: 10px;
  color: #ffffff;
}

.fa-facebook-square:before {
  color: #ffffff;
  font-size: 55px;
  padding-right: 10px;
}

.fa-twitter-square:before {
  color: #ffffff;
  font-size: 55px;
  padding-right: 10px;
}

.fa-instagram-square:before {
  color: #ffffff;
  font-size: 55px;
  padding-right: 10px;
}

.fa-linkedin:before {
  color: #ffffff;
  font-size: 55px;
  padding-right: 10px;
}
/* HOME PAGE --------------------------------------------------------------- */
.carousel-item {
  max-height: 83vh;
}

.testimonials-h1 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.testimonials-p {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0px;
  padding-top: 13px;
  font-style: italic;
  font-size: 18px;
}

.testimonials-name {
  margin-left: 10%;
  margin-right: 10%;
  font-style: italic;
}

.carousel-control-prev-icon {
  background-color: #de369d;
  margin-right: 10px;
  height: 50px;
}

.carousel-control-next-icon {
  background-color: #de369d;
  margin-left: 10px;
  height: 50px;
}

/* ABOUT US --------------------------------------------------------------- */

.about-h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.about-h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.cleaner-1-image {
  width: 100%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* CLEANING SERVICES --------------------------------------------------------------- */

.card {
  margin: 10px;
  border-radius: 5px;
}

.specialist-services-h2 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 25px;
}

#cleaning-services-section {
  margin-right: 10px;
  margin-left: 10px;
}

h4 i {
  padding-left: 15px;
  font-size: 22px;
}

.list-group-item {
  color: black;
}

.contact-us-link {
  padding-top: 20px;
}

.contact-us-link {
  padding-bottom: 12px;
}

.cleaning-services-h1 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.cleaning-services-p {
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

.card-h4 {
  border-bottom: 1px solid rgba(0,0,0,.125);
  margin-bottom: 0px;
  padding-bottom: 12px;
}

/* OUR PROMISE --------------------------------------------------------------- */

.our-promise-h1 {
  margin-top: 20px;
}

.cleaner-image {
  border-radius: 50%;
}

.fa-shield-alt:before {
  padding-right: 10px;
  font-size: 24px;
}

.fa-phone-square-alt:before {
  padding-right: 10px;
  font-size: 24px;
}

.fa-smile-beam:before {
  padding-right: 10px;
  font-size: 24px;
}

.fa-gem:before {
  padding-left: 10px;
  font-size: 24px;
}

.fa-question-circle:before {
  padding-left: 10px;
  font-size: 24px;
}

.fa-credit-card:before {
  padding-left: 10px;
  font-size: 24px;
}

.security-h3 {
  padding-top: 40px;
  margin-right: 3px;
}

.always-here-h3, .always-here-p {
  margin-right: 3px;
}

.happy-with-cleaner-h3, .happy-with-cleaner-p {
  margin-right: 3px;
}

.quality-guarantee-h3 {
  padding-top: 40px;
}

.security-p {
  margin-right: 3px;
}

.quality-guarantee-h3, .quality-guarantee-p {
  margin-left: 3px;
}

.do-a-good-job-h3, .do-a-good-job-p {
  margin-left: 3px;
}

.easy-payments-h3, .easy-payments-p {
  margin-left: 3px; 
}


/* FAQ --------------------------------------------------------------- */
.faq-h1 {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.btn-link {
  width: 100%;
  text-align: left;
}

.btn-link:after {
  content: '\2212';
  text-align: center;
  position: absolute;
  top: 17px;
  right: 25px;
  font-size: 20px;
}

.btn-link.collapsed::after {
  content: '\002B';
  font-size: 24px;
}

.card-header {
  background-color: rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.125)
}

.card-body {
  border: 1px solid rgba(0,0,0,.125)
}

.card {
  padding-bottom: 1px;
}

#headingOne {
  background-color: lightgray;
}

#headingTwo {
  background-color: lightgray;
}

#headingThree {
  background-color: lightgrey;
}

#headingFour {
  background-color: lightgrey;
}

#headingFive {
  background-color: lightgrey;
}

#headingSix {
  background-color: lightgrey;
}

#headingSeven {
  background-color: lightgrey;
}

#headingEight {
  background-color: lightgrey;
}
/* CONTACT US --------------------------------------------------------------- */
.form-group {
  margin-bottom: 0px;
  padding: 0px;
  margin: auto;
  width: 80%;
}

.radios {
  text-align: center;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.submit {
  margin-top: 8px;
  margin-bottom: 8px;
}

.click-to-contact-us {
  padding-bottom: 0px;
}

.google-map {
  min-width: 100%;
  height: 500px;
}
/* MESSAGE RECEIVED PAGE --------------------------------------------------------------- */
.fa-check-square:before {
  font-size: 36px;
  padding-left: 20px;
}

.confirmation-main {
  background-color: #ffffff;
}
.confirmation-p-1 {
  font-size: 20px;
  padding-top: 8px;
}

.confirmation-p-2 {
  font-size: 20px;
}