@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* GLOBAL -------------------------------------------------------------- */

* {
  margin: 0px;
  padding: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* NAVBAR -------------------------------------------------------------- */

.navbar {
  background-color: #de369dff;
}

.nav-link {
  font-size: 20px;
}

/* FOOTER ----------------------------------------------------------------- */
#footer {
  background-color: #de369dff;
}

.footer-p-1 {
  margin-bottom: 0px;
  padding-top: 10px;
  color: #ffffff;
}

.footer-p-2 {
  margin-bottom: 0px;
  color: #ffffff;
}

.footer-p-3 {
  margin-bottom: 0px;
  padding-bottom: 10px;
  color: #ffffff;
}

.fa-facebook-square:before {
  color: #ffffff;
  font-size: 55px;
  padding-right: 10px;
}

.fa-twitter-square:before {
  color: #ffffff;
  font-size: 55px;
  padding-right: 10px;
}

.fa-instagram-square:before {
  color: #ffffff;
  font-size: 55px;
  padding-right: 10px;
}

.fa-linkedin:before {
  color: #ffffff;
  font-size: 55px;
  padding-right: 10px;
}

/* ABOUT US --------------------------------------------------------------- */

.about-h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.about-h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.cleaner-1-image {
  width: 100%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}